@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  background-image: url(https://source.unsplash.com/1600x900/?moder-design,todo,study,calender);

}

html {
  font-size: 100%;
}
body {
  font-size: 16px;
  min-height: 100vh;
}
ul,
body {
  position: relative;
}

header {

  color: white;
  padding-top: 0.5em;
}

h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
h1:hover {
  color: rgb(205, 248, 244);
  letter-spacing: 0.01em;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#txt-pop {
  color: turquoise;
}

h4 {
  font-family: "Poppins";
  font-variant: small-caps;
  font-weight: 500;
}

.mt-3{
  position: relative;
  background: rgba(255, 255, 255, 0.5);;
  opacity: 0.9;
  border-radius: 15px;
  padding: 50px 80px 20px 50px;
  backdrop-filter: blur(20px);

}
.btn{
  font-weight: 900px;
} 

.actions {
    opacity: 0;
    transition: 0.3s;
}

.list-group-item:hover .actions {
    opacity: 100%;
    transition: 0.2s;
}

input,
ul {
  font-family: Poppins;
}

h5 {
  font-family: "Poppins";
  text-align: center;
}

#completedItems li{
  text-decoration: line-through;
}
  /* Child node buttons didn't have space in between and looked weird on mobile viewports*/
  li button {
    margin-bottom: 8px;
  }
  footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover {
    border-color: #eb2f06;
  }


  